<%- include('partials/header') %>

<h5>Profile Photo</h5>
<img src=<%= genderDetails %> alt="">
<h5>Name</h5>
<input type="text" value="<%= user.name %>">
<h5>E-Mail</h5>
<input type="email" value="<%= user.email %>">
<h5>Username</h5>
<input type="text" value="<%= user.username %>">


<%- include('partials/footer') %>