<%- include('partials/header') %>

<h1 class="rest-type">
  <%= restaurantType %>
</h1>
  <ul class="cards">
    <% restaurants.forEach(restaurant => { %>
    <li>
      <a href="/restaurants/<%= restaurant.name %>" class="card">
        <img src="/static/pizza-removebg-preview - Copy.png" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
            <img class="card__thumb" src="/uploads/<%= restaurant.img %>" alt="" />
            <div class="card__header-text">
              <h3 class="card__title"><%= restaurant.name%></h3>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
        </div>
      </a>      
    </li>
    <% }); %>
    </ul>
<!-- </div> -->
<%- include('partials/footer') %>
