<%- include('partials/header') %>


<% items.forEach(item => { %>
    <h3><%= item.name%></h3>
    <h5><%= item.price%></h5>
    <img src="/uploads/<%= item.img %>" alt="">
<% }); %>


<a href="/addItem">Add Item</a>

<%- include('partials/footer') %>