<%- include('partials/header') %>

<h1>
  <%= restaurantType %>
</h1>
  <ul class="cards">
    <% restaurants.forEach(restaurant => { %>
    <li>
      <a href="/restaurants/<%= restaurant.name %>" class="card">
        <img src="/static/pizza-removebg-preview - Copy.png" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
            <img class="card__thumb" src="/uploads/<%= restaurant.img %>" alt="" />
            <div class="card__header-text">
              <h3 class="card__title"><%= restaurant.name%></h3>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
        </div>
      </a>      
    </li>
    <% }); %>
    </ul>

<<<<<<< HEAD
  <% restaurants.forEach(restaurant => { %>
  <div class="col-lg-4">
    <div class="card">
      <a href="/restaurants/<%= restaurant.name %>" class="card__thumb">
        <img src="/uploads/<%= restaurant.img %>" alt="" class="card__image">
        <figcaption class="card__caption">
          <h2 class="card__title"><%= restaurant.name%></h2>
        </figcaption>
      </a>
    </div>
  </div>
  <% }); %>

  <!-- <div class="col-lg-4">
    <div class="card">
      <figure class="card__thumb">
        <img src="https://source.unsplash.com/71u2fOofI-U/300x510" alt="Picture by Nathan Dumlao" class="card__image">
        <figcaption class="card__caption">
          <h2 class="card__title">This Is Your Body And Brain On Coffee</h2>
          <p class="card__snippet">Drinking more caffeine during the coronavirus lockdown? Here's how it can affect you over time and advice on making it better for you.</p>
          <a href="" class="card__button">Read more</a>
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="col-lg-4">
  <div class="card">
    <figure class="card__thumb">
      <img src="https://source.unsplash.com/qXMpNtNp1uE/300x510" alt="Picture by Daniel Lincoln" class="card__image">
      <figcaption class="card__caption">
        <h2 class="card__title">Why You Should Bring Your Dog To Work</h2>
        <p class="card__snippet">On Friday, offices around the country celebrated the 15th annual Take Your Dog to Work Day. Though the event's primary goal is to raise awareness for pet adoption, the unanticipated impact may be a slightly more relaxing work environment for any office choosing to participate.</p>
        <a href="" class="card__button">Read more</a>
      </figcaption>
    </figure>
  </div>
</div>

<div class="col-lg-4">
  <div class="card">
    <figure class="card__thumb">
      <img src="https://source.unsplash.com/qXMpNtNp1uE/300x510" alt="Picture by Daniel Lincoln" class="card__image">
      <figcaption class="card__caption">
        <h2 class="card__title">Why You Should Bring Your Dog To Work</h2>
        <p class="card__snippet">On Friday, offices around the country celebrated the 15th annual Take Your Dog to Work Day. Though the event's primary goal is to raise awareness for pet adoption, the unanticipated impact may be a slightly more relaxing work environment for any office choosing to participate.</p>
        <a href="" class="card__button">Read more</a>
      </figcaption>
    </figure>
  </div>
</div>

  <div class="col-lg-4">
  <div class="card">
    <figure class="card__thumb">
      <img src="https://source.unsplash.com/qXMpNtNp1uE/300x510" alt="Picture by Daniel Lincoln" class="card__image">
      <figcaption class="card__caption">
        <h2 class="card__title">Why You Should Bring Your Dog To Work</h2>
        <p class="card__snippet">On Friday, offices around the country celebrated the 15th annual Take Your Dog to Work Day. Though the event's primary goal is to raise awareness for pet adoption, the unanticipated impact may be a slightly more relaxing work environment for any office choosing to participate.</p>
        <a href="" class="card__button">Read more</a>
      </figcaption>
    </figure>
  </div>
</div>


  <div class="col-lg-4">
  <div class="card">
    <figure class="card__thumb">
      <img src="https://source.unsplash.com/qXMpNtNp1uE/300x510" alt="Picture by Daniel Lincoln" class="card__image">
      <figcaption class="card__caption">
        <h2 class="card__title">Why You Should Bring Your Dog To Work</h2>
        <p class="card__snippet">On Friday, offices around the country celebrated the 15th annual Take Your Dog to Work Day. Though the event's primary goal is to raise awareness for pet adoption, the unanticipated impact may be a slightly more relaxing work environment for any office choosing to participate.</p>
        <a href="" class="card__button">Read more</a>
      </figcaption>
    </figure>
  </div>
</div>

  <div class="col-lg-4">
  <div class="card">
    <figure class="card__thumb">
      <img src="https://source.unsplash.com/qXMpNtNp1uE/300x510" alt="Picture by Daniel Lincoln" class="card__image">
      <figcaption class="card__caption">
        <h2 class="card__title">Why You Should Bring Your Dog To Work</h2>
        <p class="card__snippet">On Friday, offices around the country celebrated the 15th annual Take Your Dog to Work Day. Though the event's primary goal is to raise awareness for pet adoption, the unanticipated impact may be a slightly more relaxing work environment for any office choosing to participate.</p>
        <a href="" class="card__button">Read more</a>
      </figcaption>
    </figure>
  </div>
</div>
</div>
<%- include('partials/footer') %> -->
=======
<!-- </div> -->
<%- include('partials/footer') %>
>>>>>>> a91f5c781d27d29da39751b83cef228c7b668498
